body {
	background-color: #FEFECA;
}
.jumbotron {
	text-align: center;
	background-color: #F38630;
}
.burgerInput {
	text-align: center;
}
.notDevoured form {
	display: inline;
}
.notDevoured li {
	margin: 5px;
}